
  <div class="table">
    <% @pins.each do |pin| %>
        <div class="caption">
          <h3><%= pin.description%></h3>
          <p><%= pin.user.email %></p>
          
          <%= image_tag pin.image.url(:medium) %>
         
          <% if pin.user == current_user %>
            <p>
              <%= link_to "Show", pin_path(pin), class: "btn btn-default" %>
              <%= link_to "Edit", edit_pin_path(pin), class: "btn btn-default" %>
              <%= link_to 'Destroy', pin, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?'} %>
            </p>
          <% end %>
        </div>
    <% end %>
  </div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Pin', new_pin_path %>
<% end %>